* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

.header {
  background-color: #222244;
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
}

#header-text {
  color: white;
  font-size: 1.5em;
}

a,
a:hover {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
}

.aside {
  /* width: 250px; */
  text-align: start;
  background-color: #222244;
  height: 100vh;
  padding: 1rem 1.2rem;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding-bottom: 30px;
  font-size: 15px;
}

ul li a {
  color: white;
  font-weight: bold;
}

ul li a:hover {
  color: skyblue;
  text-decoration: none;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
}

.content-row {
  display: flex;
  height: calc(100vh - 77px);
}

/* If this style block causes issues in your layout simply make a .wrapper class for your layout and put
your content inside that wrapper, then let that wrapper be a direct child of the container using this class */
.main-content {
  overflow-y: auto;
  height: 100%;
  padding: 10px;
  width: calc(100vw - 250px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
